/* *********************** Common *********************** */
.company-title {
    color: mediumaquamarine;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.home-page-nav-menu {
    color: mediumaquamarine;
    font-weight: 500;
}

.back-to-home-btn:hover {
    box-shadow: 0 0 15px mediumaquamarine;
    color: black;
}

.contact-us-section {
    margin-top: 201px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    background-color: mediumaquamarine;
    align-items: center;
    justify-content: center;
}

.contact-us-text {
    margin-bottom: 10px;
    font-size: 30px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.get-in-touch-button {
    background-color: black;
    border-radius: 20px;
    color: white;
    width: 120px;
    text-align: center;
    padding: 10px;
}

.get-in-touch-button:hover {
    box-shadow: 0 0 15px black;
    color: white;
}

.footer-mohit {
    background-color: #000;
    color: #fff;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer-content {
    margin-right: 20px;
}

/* *********************** Home page *********************** */
.req-quote-btn {
    background-color: mediumaquamarine;
    border-radius: 20px;
    /* border: 1px solid lightgray; */
    color: white;
    /* width: 120px; */
    /* text-align: center; */
    padding: 5px;
    /* color: black */
}

.req-quote-btn:hover {
    box-shadow: 0 0 15px mediumaquamarine;
    color: black;
}

.left-down-post {
    position: absolute;
    left: 50px;
    top: 150px;
}

.home-page-post-header {
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

.get-started-btn {
    background-color: mediumaquamarine;
    border-radius: 20px;
    border: 1px solid lightgray;
    color: white;
    width: 120px;
    text-align: center;
    padding: 10px;
    color: black
}

.get-started-btn:hover {
    box-shadow: 0 0 15px mediumaquamarine;
    color: white;
}

.contact-us-btn {
    border-radius: 20px;
    border: 1px solid lightgray;
    color: mediumaquamarine;
    width: 120px;
    text-align: center;
    padding: 10px;
}

.contact-us-btn:hover {
    box-shadow: 0 0 15px lightgray;
}

/* *********************** Services *********************** */
.top-center-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.post-card {
    margin-bottom: 20px;
}

/* *********************** Specialists *********************** */
.team-email-btn {
    border-radius: 20px;
    border: 1px solid lightgray;
    color: black;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: mediumaquamarine;
}

.team-email-btn:hover {
    box-shadow: 0 0 15px lightgray;
}

/* *********************** Blog *********************** */
.back-to-blog {
    border-radius: 20px;
    background-color: mediumaquamarine;
    width: 120px;
    text-align: center;
    padding: 10px;
    color: #fff;
}

.back-to-blog:hover {
    box-shadow: 0 0 20px lightgray;
}

/* *********************** Contact Us *********************** */
.contact-us-page-submit {
    border-radius: 20px;
    background-color: mediumaquamarine;
    width: 120px;
    text-align: center;
    padding: 10px;
    color: #fff;
}

.contact-us-page-submit:hover {
    box-shadow: 0 0 15px lightgray;
}